.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  background-color: white;
  color: black;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  min-height: 79px;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  margin: 0 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button {
  background: transparent center no-repeat url(../images/Group.svg);
  width: 21px;
  height: 18px;
  border-style: none;
}

.card__button:hover {
  opacity: 0.5;
  cursor: pointer;
}
