.card-modal {
  visibility: hidden;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  transition: visibility 1s, opacity 1s;
}
.modal_opened {
  opacity: 1;
  visibility: visible;
}

.card-modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-modal__button-close {
  width: 40px;
  height: 40px;
  position: fixed;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background: url("../images/Close\ Icon.svg") transparent center no-repeat;
  border: none;
}

.card-modal__button-close:hover {
  opacity: 0.6;
}

.card-modal__image {
  max-width: 75vw;
  max-height: 75vh;
  vertical-align: bottom;
}

.card-modal__title {
  margin: 0 0;
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  bottom: -25px;
}
