.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 50px 0 70px;

  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
}

@media screen and (max-width: 580px) {
  .cards__list {
    margin-top: 36px;
  }
}
