.card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.card__image {
  width: 282px;
  height: 282px;
  cursor: pointer;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  vertical-align: bottom;
}
.card__description {
  border-radius: 0 0 10px 10px;
  background-color: white;
  color: black;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  min-height: 79px;

  align-items: center;
}
.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__button-like {
  background: transparent center no-repeat url(../images/Group.svg);
  width: 25px;
  height: 25px;
  border: none;
}
.card__button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}
.card__button-like_active {
  background: transparent center no-repeat url(../images/Union.svg);
}
.card__button-delete {
  background: transparent center no-repeat url(../images/Trash.svg);
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  right: 15px;
  top: 15px;
  position: absolute;
}

.card__button-delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
