.form {
  max-width: 358px;
  width: 100%;
  margin: auto;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  height: 27px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 27px;
  border: none;
  line-height: 14px;
}

.form__input-error {
  display: none;
}

.form__input_type_error {
  display: block;
  border-bottom: 1px solid red;
}

.form__input-error_active {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: red;
  margin: 5px 0;
}

.form__button {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  color: white;
  border: none;
  margin-top: 18px;
  margin-bottom: 36px;
}

.form__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}
.button_inactive {
  color: black;
  border: 1px solid black;
  background-color: white;
  opacity: 0.2;
  cursor: default;
}
@media screen and (max-width: 320px) {
  .form {
    max-width: 238px;
    width: 100%;
    margin: auto;
  }

  .form__fieldset {
    min-height: 27px;
  }

  .form__button {
    width: 100%;
    min-height: 46px;
    margin: 15px 0 25px;
  }
}
